<h1>Restaurant List</h1>

<a href="/restaurants/new">Add a new restaurant</a>

<hr/>

<ul>
#foreach ($restaurant in $restaurants)
  <li>
    <a href="/restaurant/$restaurant.getId()">$restaurant.getName(), ($restaurant.getCuisineType())</a>
  </li>
#end
</ul>
